@media (min-width: 1024px) {
    .first-section {
        width: 98.9vw;
        height: 100vh;
    }

    .second-section {
        display: flex;
        width: 98.9vw;
        height: 100vh;
    }

    .third-section {
        display: flex;
        width: 98.9vw;
        height: 100vh;
    }

    .fifth-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98.9vw;
        height: 100vh;
    }

    .header-container {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        z-index: 2;
        background: transparent;
        align-items: center;
        width: 100%;
        height: 79px;
    }

    .header-inner {
        display: flex;
        align-items: center;
        z-index: 2;
        width: 99.65%;
        height: 79px;
    }

    .ham-menu-btn {
        display: flex;
        ;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 71px;
        min-height: 71px;
        min-width: 70px;
    }

    .ham-menu-btn-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
        width: 20px;
        cursor: pointer;
    }

    .ham-menu-btn-line {
        width: 100%;
        height: 3px;
        background: white;
        cursor: pointer;
    }

    .ham-menu-btn-line.scrolled {
        background-color: red;
    }

    .human-btn {
        height: 81px;
        min-height: 81px;
        width: 12.05%;
        min-width: 183px;
        z-index: 2;
        background-color: rgb(253, 201, 42);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .human-btn-text {
        height: 43.8%;
        width: 72.7%;
        text-decoration: underline;
        cursor: pointer;
    }

    .first-video-container {
        position: relative;
        width: 100%;
        height: 100vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top 10%;
            background-repeat: no-repeat;
        }
    }

    .first-text-container {
        font-family: Muli;
        position: absolute;
        line-height: 111%;
        color: white;
        z-index: 1;
        font-size: 72px;
        text-align: left;
        letter-spacing: 0.2px;
        width: 990px;
        height: 160px;
        top: 37%;
        left: 6.6%;

        p {
            margin: 0px;

            span {
                font-weight: 300;
            }
        }
    }

    .second-video-container {
        width: 60%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }

    .second-text-container {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .second-inner-text-container {
        width: 68.63%;
        height: 75.5%;
    }

    .second-inner-text-container-title {
        font-family: Muli;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    .second-inner-text-container-description {
        font-family: Muli;
        color: #000000;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: 0;

        span {
            text-decoration: underline;
        }
    }

    .second-inner-text-container-content {
        font-family: Muli;
        font-size: 18px;
        line-height: 1.8;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-top: 0.5rem;
    }

    .second-inner-text-container-button {
        font-family: Muli;
        margin-top: 0.5rem;
        background-color: #FB3E31;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 59.2px;
        min-height: 59.2px;
        min-width: 200px;
        text-align: center;
        transition: background-color .3s;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .second-inner-text-container-button:hover {
        background-color: rgb(206, 19, 19);
    }


    .third-image-container {
        width: 60%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }

    .third-text-container {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third-inner-text-container {
        width: 68.63%;
        height: 75.5%;
    }

    .third-inner-text-container-title {
        font-family: Muli;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    .third-inner-text-container-description {
        font-family: Muli;
        color: #000000;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: 0;
    }

    .third-inner-text-container-content {
        font-family: Muli;
        font-size: 18px;
        line-height: 1.8;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-top: 0.5rem;
    }

    .third-second-paragragh {
        margin-top: 2rem;
    }

    .third-inner-text-container-button {
        font-family: Muli;
        margin-top: 0.5rem;
        background-color: #FB3E31;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 59.2px;
        min-height: 59.2px;
        min-width: 200px;
        text-align: center;
        transition: background-color .3s;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .third-inner-text-container-button:hover {
        background-color: rgb(206, 19, 19);
    }

    .fifth-miscellaneous-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 100%;
    }

    .fifth-section-title-one{
        font-family: Muli;
        color: rgb(0, 0, 0);
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
        display: contents;
        align-items: center;
        justify-content: center;
    }

    .fifth-section-cards{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .fifth-section-cards-one,
    .fifth-section-cards-two,
    .fifth-section-cards-three {
        font-family: Muli;
        width: 33%;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: rgb(0, 0, 0);
            font-size: 40px;
            line-height: 1.2;
            font-weight: 900;
            letter-spacing: 0;
            text-align: center;
        }   
    }

    .fifth-section-cards-one,
    .fifth-section-cards-two {
        p{
            font-size: 18px;
            line-height: 1.8;
            font-weight: 300;
            letter-spacing: 0.2px;
            text-align: center;
        }
    }
    

    .fifth-section-cards-three{
        p{
            font-size: 18px;
            line-height: 1.8;
            color: rgb(251, 62, 49);
            font-weight: 700;
            letter-spacing: 0.2px;
            text-align: center;
        }
    }

    .fifth-section-cookie-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Muli;
        div{
            font-size: 24px;
            line-height: 1.2;
            font-weight: 900;
            letter-spacing: 0;
            color: rgb(0, 0, 0);
            font-family: Muli;
        }
    }

    .fifth-section-miscellaneous-content{

    }

    .fifth-section-miscellaneous-images{

    }


}

@media (max-width: 1023px) {
    .first-section {
        width: 98.9vw;
        height: 100vh;
    }

    .second-section {
        display: flex;
        width: 98.9vw;
        height: 100vh;
    }

    .third-section {
        display: flex;
        width: 98.9vw;
        height: 100vh;
    }

    .header-container {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        z-index: 2;
        background: transparent;
        align-items: center;
        width: 100%;
        height: 60px;
        background: red;
    }

    .header-inner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        z-index: 2;
        width: 100%;
        height: 60px;
        background: blue;
    }

    .ham-menu-btn {
        display: flex;
        ;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: 71px;
        min-height: 71px;
        min-width: 70px;
    }

    .ham-menu-btn-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 22px;
        width: 20px;
        cursor: pointer;
    }

    .ham-menu-btn-line {
        width: 100%;
        height: 3px;
        background: white;
        cursor: pointer;
    }

    .ham-menu-btn-line.scrolled {
        background-color: red;
    }

    .human-btn {
        height: 81px;
        min-height: 81px;
        width: 12.05%;
        min-width: 183px;
        z-index: 2;
        background-color: rgb(253, 201, 42);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .human-btn-text {
        height: 43.8%;
        width: 72.7%;
        text-decoration: underline;
        cursor: pointer;
    }

    .first-video-container {
        position: relative;
        width: 100%;
        height: 100vh;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top 10%;
            background-repeat: no-repeat;
        }
    }

    .first-text-container {
        font-family: Muli;
        position: absolute;
        line-height: 111%;
        color: white;
        z-index: 1;
        font-size: 72px;
        text-align: left;
        letter-spacing: 0.2px;
        width: 990px;
        height: 160px;
        top: 37%;
        left: 6.6%;

        p {
            margin: 0px;

            span {
                font-weight: 300;
            }
        }
    }

    .second-video-container {
        width: 60%;
        height: 100%;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }

    .second-text-container {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .second-inner-text-container {
        width: 68.63%;
        height: 75.5%;
    }

    .second-inner-text-container-title {
        font-family: Muli;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    .second-inner-text-container-description {
        font-family: Muli;
        color: #000000;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: 0;
        span {
            text-decoration: underline;
        }
    }

    .second-inner-text-container-content {
        font-family: Muli;
        font-size: 18px;
        line-height: 1.8;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-top: 0.5rem;
    }

    .second-inner-text-container-button {
        font-family: Muli;
        margin-top: 0.5rem;
        background-color: #FB3E31;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 59.2px;
        min-height: 59.2px;
        min-width: 200px;
        text-align: center;
        transition: background-color .3s;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .second-inner-text-container-button:hover {
        background-color: rgb(206, 19, 19);
    }

    .third-image-container {
        width: 60%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            background-repeat: no-repeat;
        }
    }

    .third-text-container {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .third-inner-text-container {
        width: 68.63%;
        height: 75.5%;
    }

    .third-inner-text-container-title {
        font-family: Muli;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    .third-inner-text-container-description {
        font-family: Muli;
        color: #000000;
        font-size: 48px;
        line-height: 1.1;
        font-weight: 900;
        letter-spacing: 0;
    }

    .third-inner-text-container-content {
        font-family: Muli;
        font-size: 18px;
        line-height: 1.8;
        font-weight: 300;
        letter-spacing: 0.2px;
        margin-top: 0.5rem;
    }

    .third-second-paragragh {
        margin-top: 2rem;
    }

    .third-inner-text-container-button {
        font-family: Muli;
        margin-top: 0.5rem;
        background-color: #FB3E31;
        font-size: 16px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 59.2px;
        min-height: 59.2px;
        min-width: 200px;
        text-align: center;
        transition: background-color .3s;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    .third-inner-text-container-button:hover {
        background-color: rgb(206, 19, 19);
    }

}